.portfolio-item {
  margin-bottom: 30px;
}
#Nav_style{
  background-color: #00B2AB;
}
#register{
  margin-left: 20%;
  margin-right: 20%;
}
a {
  color:#E56B35;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
nav{
	height:80px;
	font-size:24px;
	text-align:center;
	letter-spacing:1.5px;
  font-weight: bold;
}

ul{
	list-style: none;
}

nav ul{
	list-style:none;
	padding:18px;
}

nav ul li{
  color:#E56B35 !important ;
	display:inline;
	padding: 0 10px 0 10px;
}

body{
  background-color: #6B554B;
}

h1, h2{
  color: #E56B35 !important;
  font-weight: bold;
  text-align: center;
}

#Main_Footer{
  background-color: #6B554B;
}
