.portfolio-item {
  margin-bottom: 30px;
}
#Nav_style{
  background-color: #FFFFFF;
  border-bottom: 4px solid #1EB2A8;
}

#Nav_style:before{
  content: " ";
  position: absolute;
  z-index: -1;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: 3px;
  border: 4px solid #1EB2A8;
}


#register{
  margin-left: 20%;
  margin-right: 20%;
}
a {
  color:#E56B35;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
nav{
	height:80px;
  font-family: 'American Typewriter';
	font-size:24px;
	text-align:center;
	letter-spacing:1.5px;
  font-weight: normal;
}

ul{
	list-style: none;
}

nav ul{
	list-style:none;
	padding:18px;
}

nav ul li{
  color: #6A554C !important ;
	display:inline;
	padding: 0 10px 0 10px;
}

/* Michael Added */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}


body{
  background-color: #6B554B;
}

h1, h2{
  color: #E56B35 !important;
  font-weight: normal;
  text-align: center;
}

#Main_Footer{
  background-color: #1EB2A8;
}
