{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Music School Portal</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'music_app/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'music_app/business-casual.css' %}" rel="stylesheet">
  <link href="{% static 'music_app/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% if user.is_authenticated %}
    <nav id="Nav_style" class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a id="logo" href="{% url 'index' %}"><img src="{% static "music_app/images/pinelands_logo.png" %}" alt="website logo" height="50" />
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bookings' %}">Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'lessons' %}">My Lessons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teacher_details' %}">Contact Teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account' %}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Page Content -->
    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"></span>
                  <span class="my-4">My Lessons</span>
                  <!-- Bookings Content-->
                </h2>
                  </script>
                  <table style="width: 100%"">
                    <tr>
                      <th>Instrument</th>
                      <th>Date</th>
                      <th>Lesson Time</th>
                      <th>Cancel</th>
                    </tr>
                    {% for item in user_bookings %}
                    <tr>
                      <td>{{item.schedule.Instrument}}</td>
                      <td>{{item.schedule.Date}}</td>
                      <td>{{item.schedule.Time|time:"H:i"}}</td>
                      <td><button id="{{item.schedule.id}}" value="Teacher: {{item.schedule.teacher_id}}, Instrument: {{item.schedule.Instrument}}, Date: {{item.schedule.Date}}, Time: {{item.schedule.Time|time:'H:i'}}, Lesson id: {{item.schedule.Lesson_id}}"onclick="clicked(this.value, this.id)">Cancel Lesson</button></td>
                    </tr>
                    {% endfor %}
                  </table>
                  <p></p>
                  <span>
                  <p><strong>*NOTE:</strong> All lesson times are in 24 hour format. You will receive a cancellation fee if you cancel 24 hours prior lesson. Click <a href="{% url 'bookings' %}">here</a> to book a lesson.</p>
                  </p>
                  </span>
                  <script type="text/javascript">
                  function clicked(value, id) {
                     if (confirm('Confirm Cancellation? \n \n' + value + '\n\nYou will receive a cancellation fee if lesson is cancelled less than 24 hours prior lesson')) {
                        $.ajax({'type': 'POST',
                                'url': '/music_app/lessons/',
                                 'data': {'id': id},
                                 'success': function(resp) {
                                      if(resp.status == 'ok') {
                                        alert('Lesson cancelled');
                                      }
                                      else {
                                         alert(resp.message);
                                      }
                                  }
                                });
                      location.reload();
                     } else {
                         return false;
                     }
                  }
                  </script>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 ">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Pink Spoon 2018</p>
          </div>
          <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'music_app/jquery.min.js'%}"></script>
        <script src="{% static 'music_app/bootstrap.bundle.min.js'%}"></script>
        <script type="text/javascript" src="js/registration_validate.js"></script>
      </div>
    </section>
  {% else %}
  <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"></span>
                  <p>Unauthorised!</p>
                  <p>Please <a href="{% url 'login'%}?next={{request.path}}"><u>Log In</u></a> to view this page<p>
                  <!-- Contact Form -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 ">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Pink Spoon 2018</p>
          </div>
          <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'music_app/jquery.min.js'%}"></script>
        <script src="{% static 'music_app/bootstrap.bundle.min.js'%}"></script>
        <script type="text/javascript" src="js/registration_validate.js"></script>
      </div>
    </section>
  {% endif %}

    </body>

    </html>
