{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Music School Portal</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'music_app/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="{% static 'music_app/business-casual.css' %}" rel="stylesheet">
  <link href="{% static 'music_app/style.css' %}" rel="stylesheet">

  <!--Javasript Validation File Import -->
  <script type="text/javascript" src="js/validation.js"></script>
  <script type="text/javascript" src="js/formreg.js"></script>
  <script type="text/javascript" language="JavaScript"></script>

  <script>
        function myFunction(new_id) {
            if (new_id == 0) {
                return;
            }
            document.getElementsByName("submit")[0].id = new_id;
            
            // Testing id, assigns selected dropdown as the button's id
            // remove this after testing
            // alert(document.getElementById(new_id).id);
        }
    </script>

</head>

<body>

  <!-- Navigation -->
  {% if user.is_authenticated %}
  <nav id="Nav_style" class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a id="logo" href="{% url 'index' %}"><img src="{% static "music_app/images/pinelands_logo.png" %}" alt="website logo" height="50" />
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account' %}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="main_container" class="container">
      <section class="page-section about-heading">
        <div class="container">
          <div class="about-heading-content">
            <div class="row">
              <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">
                  <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"></span>
                    <span class="my-4">Check-Out</span>
                  </h2>
                  <div class="row">
                    <div class="card-body p-5">
                      <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <span>
                                <p>Purchasing Instrument:
                                 <select id="one" name="sub" onchange="myFunction(this.value)">
                                    <option value="NoValue" id="NoValue">--------------Select--------------</option>
                                    {% for item in data_list %}
                                    <option value="{{item.instrument_name}}" id="{{item.instrument_name}}">{{item.instrument_name}}</option>
                                    {% endfor %}
                                 </select>
                                 </p>
                              </span>
                           </div>
                        </div>
                      </div>
                      <p> <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-visa.png">
                        <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-mastercard.png">
                        <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-american-ex.png">
                      </p>
                      <form role="form">
                        <div class="form-group">
                          <label for="username">Full name (on the card)</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Please Enter Your Full Name" required>
                          </div> 
                        </div> 

                        <div class="form-group">
                          <label for="cardNumber">Card number</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                            </div>
                            <input type="text" class="form-control" name="cardNumber" placeholder="Please Enter Your Card Number" required>
                          </div> 
                        </div> 

                        <div class="row">
                          <div class="col-sm-8">
                            <div class="form-group">
                              <label><span class="hidden-xs">Expiration</span> </label>
                              <div class="form-inline">
                                <select class="form-control">
                                  <option>MM</option>
                                  <option>01</option>
                                  <option>02</option>
                                  <option>03</option>
                                  <option>04</option>
                                  <option>05</option>
                                  <option>06</option>
                                  <option>07</option>
                                  <option>08</option>
                                  <option>09</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                                <span style="text-align: center"> / </span>
                                <select class="form-control">
                                  <option>YY</option>
                                  <option>19</option>
                                  <option>20</option>
                                  <option>21</option>
                                  <option>22</option>
                                  <option>23</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV
                                <i class="fa fa-question-circle"></i>
                              </label>
                              <input type="text" class="form-control" name="username" placeholder="CVV" required>
                            </div> 
                          </div>
                        </div> 
                        <span>
                          <p> </p>
                        </span>
                        <div class="form-group">
                          <button type="submit" name="submit" id="" onclick="clicked(this.id)">Submit</button>
                        </div>
                        <span>
                          <p> </p>
                        </span>
                        <span>
                          <p><strong>*NOTE:</strong> Instruments in the dropdown menu is subject to availability. Please contact us if there are any issues.</p>
                        </span>
                      </form>
                      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                      <script type="text/javascript">
                      function clicked(id) {
                        if (confirm('Confirm Payment for ' + id + '?')) {
                            $.ajax({'type': 'POST',
                              'url': '/music_app/payment/',
                               'data': {'id': id},
                               'success': function(resp) {
                                    if(resp.status == 'ok') {
                                      alert('Payment confirmed! Instrument Hired!');
                                      window.location.href = "{% url 'instrument' %}"
                                    }
                                    else {
                                       alert(resp.message);
                                    }
                                }
                              });
                          location.reload();
                         } else {
                             return false;
                         }
                      }
                      </script>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Footer -->
      <footer class="py-5 ">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Pink Spoon 2018</p>
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="{% static 'music_app/jquery.min.js'%}"></script>
      <script src="{% static 'music_app/bootstrap.bundle.min.js'%}"></script>
      <script type="text/javascript" src="js/registration_validate.js"></script>
    </div>
  </section>
  {% else %}
  <section class="page-section about-heading">
    <div class="container">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <p>Unauthorised!</p>
                <p>Please <a href="{% url 'login'%}?next={{request.path}}"><u>Log In</u></a> to view this page<p>
                  <!-- Contact Form -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 ">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Pink Spoon 2018</p>
          </div>
          <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'music_app/jquery.min.js'%}"></script>
        <script src="{% static 'music_app/bootstrap.bundle.min.js'%}"></script>
        <script type="text/javascript" src="js/registration_validate.js"></script>
      </div>
    </section>
    {% endif %}

  </body>

  </html>
