{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Music School</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'music_app/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'music_app/business-casual.css' %}" rel="stylesheet">
  <link href="{% static 'music_app/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav id="Nav_style" class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a id="logo" href="{% url 'index' %}"><img src="{% static "music_app/images/pinelands_logo.png" %}" alt="website logo" height="50" />
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
          </li>
        </ul>
      </div>
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'dashboard' %}">Hi {{ user.first_name }}!</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'signup' %}">Register</a>
        <a class="navbar-brand" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div>
      <h1 class="my-4">Lesson Pricings</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Piano</h3>
          <div class="card-body">
            <div class="display-4">$44.99</div>
            <div class="font-italic">per hour lesson</div>
            <div class="display-4">$22.99</div>
            <div class="font-italic">per half hour lesson</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Four Experienced Teachers</li>
            <li class="list-group-item">Lessons Monday to Saturday</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Create Account Here</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card card-outline-primary h-100">
          <h3 class="card-header">Guitar</h3>
          <div class="card-body">
            <div class="display-4">$44.99</div>
            <div class="font-italic">per hour lesson</div>
            <div class="display-4">$22.99</div>
            <div class="font-italic">per half hour lesson</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Three Experienced Teachers</li>
            <li class="list-group-item">Lessons Monday to Friday</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Create Account Here</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Flute</h3>
          <div class="card-body">
            <div class="display-4">44.99</div>
            <div class="font-italic">per hour lesson</div>
            <div class="display-4">$22.99</div>
            <div class="font-italic">per half hour lesson</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Three Experienced Teachers</li>
            <li class="list-group-item">Lessons Monday to Saturday</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Create Account Here</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.row one -->

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Saxaphone</h3>
          <div class="card-body">
            <div class="display-4">$44.99</div>
            <div class="font-italic">per hour lesson</div>
            <div class="display-4">$22.99</div>
            <div class="font-italic">per half hour lesson</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Two Experienced Teachers</li>
            <li class="list-group-item">Lessons Monday to Friday</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Create Account Here</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card card-outline-primary h-100">
          <h3 class="card-header">Violin</h3>
          <div class="card-body">
            <div class="display-4">$44.99</div>
            <div class="font-italic">per hour lesson</div>
            <div class="display-4">$22.99</div>
            <div class="font-italic">per half hour lesson</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Four Experienced Teachers</li>
            <li class="list-group-item">Lessons Monday to Saturday</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Create Account Here</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h3 class="card-header">Drums</h3>
          <div class="card-body">
            <div class="display-4">$44.99</div>
            <div class="font-italic">per hour lesson</div>
            <div class="display-4">$22.99</div>
            <div class="font-italic">per half hour lesson</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Three Experienced Teachers</li>
            <li class="list-group-item">Lessons Monday to Friday</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Create Account Here</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ./ Row Two -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer id="Main_Footer" class="py-5 ">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Pink Spoon 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'music_app/jquery.min.js' %}"></script>
  <script src="{% static 'music_app/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
