{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Music School</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'music_app/bootstrap.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'music_app/business-casual.css' %}" rel="stylesheet">
  <link href="{% static 'music_app/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav id="Nav_style" class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a id="logo" class="navbar-brand" href="{% url 'index' %}">Pinelands M.S</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div>
      <h1 class="my-4">Register Please</h1>
    </div>
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Complete the details below to sign up for a new account.</h3>
        <h3>Passwords must have a minimum of 8 characters.</h3>

        <!-- Contact Form -->
        <form action="../controller/registration_process.php" method="post" onSubmit="return onSubmit()">
          <input type="text" class="form-control" name="firstName" id="firstname" placeholder="Enter your First Name"/><br />
          <input type="text" class="form-control" name="lastName" id="lastname" placeholder="Enter your Last Name"/><br />
          <div class="form-group">
            <select class="form-control" name="gender" id="gender">
              <option value="" selected disabled>Please select Gender</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <input type="text" class="form-control" name="age" id="age" placeholder="Enter your Age"/><br />
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email*"/><br />
          <input type="text" class="form-control" name="address" id="address" placeholder="Enter your Address" /><br />
          <div class="form-group">
            <select class="form-control" name="skill_level" id="skill_level">
              <option value="" selected disabled>Please select you're Skill Level</option>
              <option>Beginner</option>
              <option>Intermediate</option>
              <option>Expert</option>
            </select>
          </div>
          <input type="text" class="form-control" name="username" id="username" maxlength="20" placeholder="Enter your Username*"/><br />
          <input type="password" class="form-control"  id="password" name="password" maxlength="18" placeholder="Password max length 18*" required pattern=".{8,}"/><br />
          <p><input class="btn btn-primary" id="sendMessageButton" type="submit" name="register" value="Register" /></p>
          <p>Please <a href="login_form.php">login</a> if you already have an account.</p>
        </form>
      </div>
    </div>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 ">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Pink Spoon 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'music_app/jquery.min.js'%}"></script>
  <script src="{% static 'music_app/bootstrap.bundle.min.js'%}"></script>
  <script type="text/javascript" src="js/registration_validate.js"></script>

</body>

</html>
